
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Features</h2>
                        <p class="text-muted">Things you can do with the wilson package</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="feature-item">
                                <i class="fa fa-arrow-down text-primary"></i>
                                <h3>RG running &amp; matching</h3>
                                <p class="text-muted">Run your new physics Wilson coefficients above the electroweak scale within the Standard Model EFT (SMEFT) or below it within the weak effective theory (WET) with appropriate numbers of flavours, with automatic matching</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-item">
                                <i class="fas fa-exchange-alt text-primary"></i>
                                <h3>Basis translation</h3>
                                <p class="text-muted">Automatically translate between different Wilson coefficient bases defined in the <a href="https://wcxf.github.io">Wilson coefficient exchange format</a></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="feature-item">
                                <i class="fa fa-share text-primary"></i>
                                <h3>Interface to other codes</h3>
                                <p class="text-muted">Built on top of the  <a href="https://wcxf.github.io">Wilson coefficient exchange format</a>, <em>wilson</em> can import and export Wilson coefficients to <a href="https://wcxf.github.io/codes.html">a number of public codes</a>. In particular, a host of low-energy observables can be calculated with the <a href="https://flav-io.github.io">flavio</a> Python package.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
