<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner text-center">
                        <h1><img src="img/wilson-logo-white.svg"> wilson</h1>
                        <p><em>wilson</em> is a Python package for running, matching, and translating Wilson coefficients beyond the Standard Model above and below the electroweak scale. It supports the complete set of dimension-6 operators in the Standard Model EFT and the weak effective theory.</p>
                        <a href="#features" class="btn btn-outline btn-xl page-scroll">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
